<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="d:\temp\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--<add assembly="NLog.Targets.Sentry" />-->
  </extensions>
  
  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->
  
  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="d:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>

    <!--<target xsi:type="Sentry" name="Sentry" dsn="https://a48f67497c814561aca2c66fa5ee37fc:a5af1a051d6f4f09bdd82472d5c2629d@sentry.io/1340240"/>-->
	  <targets>
		  <target xsi:type="Database"
		name="dbTarget"
			  connectionString="Data Source=.;Initial Catalog=ParsCenterLogs;User ID=sa;password=sa@123456;MultipleActiveResultSets=true;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False;Persist Security Info=False;"
			  commandText="INSERT INTO Logs(CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@datetime,@msg,@level,@exception,@trace,@logger,@url)">
			  <parameter name="@datetime" layout="${date}" />
			  <parameter name="@msg" layout="${message}" />
			  <parameter name="@level" layout="${level}" />
			  <parameter name="@exception" layout="${exception}" />
			  <parameter name="@trace" layout="${stacktrace}" />
			  <parameter name="@logger" layout="${logger}" />
			  <parameter name="@url" layout="${aspnet-request-url}" />
		  </target>
	  </targets>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <!--<logger name="*" minLevel="Error" writeTo="Sentry"/>-->
	<logger name="*" minlevel="Trace" writeTo="dbTarget" />
  </rules>
</nlog>